/**************************/
/*     General Styles     */
/**************************/
:root {
	--white: #ffffff;
	--primary_text: #191e47;
	--secondary_text: #6c717b;
	--theme_blue: #4555d2; /*primary button ko color*/
	--theme_pink: #cc2973;
	--footer_bg: #ebf2f4;
	--bg_light: #f8f9fa;
	--card_bg: #f9fafe;
	--project_bg: #f3f5f7;
	--bg_gray: #f9fafe; /*Index ko intro ma xa*/
	--input_form:#ffffff;
}
.dark-theme {
	--white: #1c2331;
	--primary_text: #ffffff;
	--secondary_text: #ffffff;
	--theme_blue: #a688fa; /*primary button ko color*/
	--theme_pink: #cc2973;
	--footer_bg: #2f2b3a;
	--bg_light: #1c2331;
	--card_bg: #35415a;
	--project_bg: #1c2331;
	--bg_gray: #1c2331;
	--input_form: #adb5bd29;
}

body,
html {
	width: 100%;
	height: 100%;
}

body,
p {
	color: var(--secondary_text);
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
body {
	background-color: var(--white);
}
body {
	scrollbar-width: thin;
	scrollbar-color: #4d7fff #ddd;
}

	body::-webkit-scrollbar {
		width: 0px;
		position:relative;
	}

	body::-webkit-scrollbar-thumb {
		background: linear-gradient(to bottom right, #4555d2, #2E3192);
		border-radius: 25px;
	}


h1 {
	color: var(--primary_text);
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.4px;
}

h2 {
	color: var(--primary_text);
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.2px;
}

h3 {
	color: var(--primary_text);
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: var(--primary_text);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
}

h5 {
	color: var(--primary_text);
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: var(--primary_text);
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: var(--secondary_text);
	text-decoration: underline;
}

a:hover {
	color: var(--secondary_text);
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: var(--theme_blue);
}

.bg-gray {
	background-color: var(--bg_gray);
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid var(--theme_blue);
	border-radius: 30px;
	background-color: var(--theme_blue);
	color: var(--white);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: var(--theme_blue);
	/* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid var(--theme_blue);
	border-radius: 30px;
	background-color: var(--theme_blue);
	color: var(--white);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: var(--theme_blue);
	/* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid var(--theme_pink);
	border-radius: 30px;
	background-color: transparent;
	color: var(--theme_pink);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: var(--theme_pink);
	color: var(--white);
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid var(--theme_pink);
	border-radius: 30px;
	background-color: transparent;
	color: var(--theme_pink);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: var(--theme_pink);
	color: var(--white);
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid var(--theme_pink);
	border-radius: 30px;
	background-color: var(--theme_pink);
	color: var(--white);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: rgb(242, 43, 132);
	color: var(--white);
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
	color:var(--primary_text);
	width: 100%;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 30px;
	/*background-color: var(--white);*/
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.form-control-textarea {
	display: block;
	height: 14rem;
	/* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none;
	/* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid var(--theme_blue);
	border-radius: 30px;
	background-color: var(--theme_blue);
	color: var(--white);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid var(--theme_blue);
	background-color: transparent;
	color: var(--theme_blue);
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: var(--white);
	font-weight: 600;
	height: 95px;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
	width: 124px;
	height: 32px;
}

.navbar .logo-text {
	color: var(--primary_text);
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	/* height: 300px; */
	top: 5.25rem;
	bottom: 300px;
	left: 100%;
	width: 100%;
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	font-size: 1rem;
	visibility: hidden;
	background-color: #e9ecef;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: var(--primary_text);
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: var(--theme_blue);
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s;
	/* required for the fade animation */
}

@keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: var(--white);
}

.navbar .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: var(--primary_text);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: var(--white);
	color: var(--theme_blue);
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #efefef;
}

/* end of dropdown menu */

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}
.closeButton{
	background-color:#ffffff;
}
/*****************/
/*    Header     */
/*****************/
.header {
	position: relative;
	overflow: hidden;
	padding-top: 8rem;
	padding-bottom: 4em;
	background-color: var(--white);
	text-align: center;
}

.header .decoration-star {
	position: absolute;
	top: 80px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.header .decoration-star-2 {
	position: absolute;
	top: 80px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.header div[class*="col"] {
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.header .h1-large {
	margin-bottom: 1.75rem;
	font-size: 3rem;
	line-height: 3.5rem;
}

.header .p-large {
	margin-bottom: 2.25rem;
}

.header .btn-solid-lg,
.header .btn-outline-lg {
	margin-right: 0.25rem;
	margin-bottom: 1.25rem;
	margin-left: 0.25rem;
}

.header .image-container {
	margin-top: 5rem;
}

.progress-bar {
	background-color: var(--theme_blue);
}

/************************/
/*     Introduction     */
/************************/
.basic-1 {
	padding-top: 9.25rem;
	padding-bottom: 8.75rem;
}

.basic-1 h2 {
	margin-bottom: 1.75rem;
}
.search{
	position: relative;
	box-shadow: 0 0 40px rgba(51, 51, 51, .1); 
	}
	.search input{
	 height: 60px;
	 text-indent: 25px;
	 border: 2px solid #d6d4d4;
	 background: var(--input_form)
	}
	.search input:focus{
	 box-shadow: none;
	 border: 2px solid blue;
	}
	.search button{
	 position: absolute;
	 top: 5px;
	 right: 5px;
	 height: 50px;
	 width: 50px;
	 color: #000;
	}

/*********************/
/*     Details 1     */
/*********************/
.basic-2 {
	position: relative;
	padding-top: 5.5rem;
	padding-bottom: 5.5rem;
	background:var(--white);
}

.basic-2 .decoration-star {
	position: absolute;
	top: 530px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.basic-2 div[class*="col"] {
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.basic-2 .image-container {
	margin-bottom: 5rem;
}

.basic-2 h2 {
	margin-bottom: 1.875rem;
}

.basic-2 .list-unstyled {
	margin-bottom: 2rem;
}

.basic-2 .list-unstyled .fas {
	color: var(--theme_pink);
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.basic-2 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}


/********************/
/*     Services     */
/********************/
.cards-1 {
	padding-top: 9.5rem;
	padding-bottom: 5.5rem;
}

.cards-1 h2 {
	margin-bottom: 1.75rem;
}

.cards-1 .text-container {
	margin-bottom: 5rem;
}

.cards-1 .list-unstyled {
	margin-top: 1.5rem;
}

.cards-1 .list-unstyled .fas {
	color: var(--theme_pink);
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.cards-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.cards-1 .card-container {
	text-align: center;
}

.cards-1 .card {
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 3.75rem;
	margin-left: 1.5rem;
	width: 150px;
	border: none;
	background-color: transparent;
	text-align: center;
	vertical-align: top;
}

	.cards-1 .card-icon {
		width: 110px;
		height: 110px;
		margin-right: auto;
		margin-bottom: 1.5rem;
		margin-left: auto;
		border-radius: 50%;
		/*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
		text-align: center;
	}
.services-card {
	background-color: var(--card_bg);
}

.cards-1 .card-icon .far,
.cards-1 .card-icon .fab,
.cards-1 .card-icon .fas {
	color: var(--theme_pink);
	font-size: 3.75rem;
	margin-top: 24px;
	margin-left: 0px;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	font-weight: 600;
}


/*********************/
/*     Details 2     */
/*********************/
.basic-3 {
	position: relative;
	overflow: hidden;
	padding-top: 5.5rem;
	padding-bottom: 5.75rem;
	background:var(--white);
}

.basic-3 .decoration-star {
	position: absolute;
	top: 500px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.basic-3 div[class*="col"] {
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.basic-3 .text-container {
	margin-bottom: 5rem;
}

.basic-3 h2 {
	margin-bottom: 1.875rem;
}

.basic-3 p {
	margin-bottom: 2rem;
}


/**********************/
/*     Invitation     */
/**********************/
.basic-4 {
	padding-top: 9.25rem;
	padding-bottom: 9.75rem;
	text-align: center;
}

.basic-4 h4 {
	margin-bottom: 2rem;
}


/********************/
/*     Projects     */
/********************/
.cards-2 {
	padding-top: 9.5rem;
	padding-bottom: 5rem;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.cards-2 .card {
	max-width: 350px;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	border: none;
}

.cards-2 .card img {
	margin-bottom: 2rem;
	border-radius: 10px;
}

.cards-2 .card-body {
	padding: 0;
}


#projects .light {
	background: var(--project_bg);
}
#projects .dark{
	background: var(--primary_text)
}
#projects .lightCard{
	background:var(--card_bg);
}
#projects .textDark {
	color: var(--primary_text);
}
#projects .postcard__bar{
	background-color:var(--primary_text);
}
.postcard .postcard__tagbox .tag__item {
	border: 1px solid var(--primary_text);
}
.postcard .postcard__tagbox .tag__item1 {
	background: var(--theme_blue);
	color: var(--white);
}
/*******************/
/*     Contact     */
/*******************/
.form-1 {
	position: relative;
	overflow: hidden;
	padding-top: 9.5rem;
	padding-bottom: 8.75rem;
	text-align: center;
}

.form-1 .decoration-star {
	position: absolute;
	top: 600px;
	left: -100px;
	width: 200px;
	opacity: 0.7;
}

.form-1 .decoration-star-2 {
	position: absolute;
	top: 600px;
	right: -100px;
	width: 200px;
	opacity: 0.7;
}

.form-1 div[class*="col"] {
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.form-1 .image-container {
	margin-bottom: 5rem;
}

.form-1 h2 {
	margin-bottom: 2.5rem;
}

/* newsletter */
#newsletter{
	background:var(--white);
}
#newsletter .input-group {
	max-width: 500px;
}

#newsletter .form-control {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#newsletter .btn {
	background-color: var(--green);
	color: #fff;
	border-color: var(--green);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#newsletter .btn:hover {
	background-color: #000;
	border-color: #000;
}

/******************/
/*     Footer     */
/******************/
#social-link-footer i:hover {
	font-size: 1.4rem;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
	background: var(--primary_text);
	padding-bottom: 1rem;
	text-align: center;
	opacity: 0.9;
}
#copyrightText,
#copyrightText1{
	color: var(--bg_light);
}
	.copyright p,
	.copyright a {
		text-decoration: none;
	}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 20px;
	display: none;
	width: 52px;
	height: 52px;
	border: none;
	border-radius: 50%;
	outline: none;
	background-color: #44434a;
	cursor: pointer;
}

#myBtn:hover {
	background-color: #1d1d21;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	border-bottom: 5px solid var(--primary_text);
}

.ex-basic-1 .list-unstyled .fas {
	color: var(--theme_pink);
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: var(--bg_gray);
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: var(--theme_pink);
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: var(--white);
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 6rem;
		padding-bottom: 5em;
	}

	.header .decoration-star {
		top: 100px;
		left: -150px;
		width: 300px;
	}

	.header .decoration-star-2 {
		top: 140px;
		right: -200px;
		width: 400px;
	}

	/* end of header */


	/* Statistics */
	.counter .counter-cell {
		display: inline-block;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		vertical-align: top;
	}

	/* end of statistics */


	/* Services */
	.cards-1 .card {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	/* end of services */


	/* Contact */
	.form-1 .decoration-star {
		left: -150px;
		width: 300px;
	}

	.form-1 .decoration-star-2 {
		right: -200px;
		width: 400px;
	}

	/* end of contact */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}

	/* end of extra pages */
}

/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {

	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}

	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: var(--white);
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	.navbar.top-nav-collapse {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: var(--white);
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-outline-sm {
		margin-top: 0;
		margin-left: 1rem;
	}

	/* end of navigation */


	/* Header */
	.header {
		text-align: left;
	}

	.header .text-container {
		margin-top: 4rem;
	}

	.header .image-container {
		margin-top: 0;
	}

	.header .btn-solid-lg,
	.header .btn-outline-lg {
		margin-right: 0;
		margin-left: 0;
	}

	.header .btn-solid-lg {
		margin-right: 0.5rem;
	}

	/* end of header */


	/* Introduction */
	.basic-1 h2 {
		width: 90%;
	}

	/* end of introduction */


	/* Details 1 */
	.basic-2 .decoration-star {
		top: 260px;
		left: -150px;
		width: 300px;
	}

	.basic-2 .image-container {
		margin-bottom: 0;
	}

	/* end of details 1 */


	/* Services */
	.cards-1 .text-container {
		margin-bottom: 0;
	}

	/* end of services */


	/* Details 2 */
	.basic-3 .decoration-star {
		top: 260px;
		right: -150px;
		width: 300px;
	}

	.basic-3 .image-container {
		text-align: right;
	}

	/* end of details 2 */


	/* Invitation */
	.basic-4 h4 {
		width: 48rem;
		margin-right: auto;
		margin-left: auto;
	}

	/* end of invitation */


	/* Projects */
	.cards-2 .card {
		display: inline-block;
		width: 292px;
		max-width: 100%;
		vertical-align: top;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}

	/* end of projects */


	/* Contact */
	.form-1 {
		text-align: left;
	}

	.form-1 .decoration-star {
		top: 260px;
	}

	.form-1 .decoration-star-2 {
		top: 240px;
	}

	.form-1 .image-container {
		margin-bottom: 0;
	}

	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}

	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}

	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}

	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	/* end of extra pages */
}

/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* General Styles */
	.container {
		max-width: 1140px;
	}

	/* end of general styles */


	/* Header */
	.header {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}

	.header .decoration-star {
		top: 200px;
		left: -200px;
		width: 500px;
	}

	.header .decoration-star-2 {
		top: 150px;
		right: -200px;
		width: 600px;
	}

	.header .h1-large {
		font-size: 4rem;
		line-height: 4.875rem;
	}

	.header .image-container {
		text-align: right;
	}

	/* end of header */


	/* Details 1 */
	.basic-2 .decoration-star {
		top: 140px;
		left: -200px;
		width: 500px;
	}

	.basic-2 .text-container {
		margin-top: 5rem;
		margin-left: 2.5rem;
	}

	.basic-2 h2 {
		width: 90%;
	}

	/* end of details 1 */


	/* Services */
	.cards-1 .text-container {
		margin-top: 2rem;
		margin-right: 4.75rem;
	}

	.cards-1 .card {
		margin-right: 2.25rem;
		margin-left: 2.25rem;
	}

	.cards-1 .card:nth-of-type(3n+1) {
		margin-left: 0;
	}

	.cards-1 .card:nth-of-type(3n+3) {
		margin-right: 0;
	}

	/* end of services */


	/* Details 2 */
	.basic-3 .decoration-star {
		top: 140px;
		right: -200px;
		width: 500px;
	}

	.basic-3 .text-container {
		margin-top: 6rem;
		margin-right: 3rem;
	}

	.basic-3 h2 {
		width: 95%;
	}

	/* end of details 2 */


	/* Projects */
	.cards-2 .card {
		width: 350px;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.625rem;
		margin-left: 1.625rem;
	}

	/* end of projects */
 

	/* Contact */
	.form-1 .decoration-star {
		top: 140px;
		left: -300px;
		width: 600px;
	}

	.form-1 .decoration-star-2 {
		top: 140px;
		right: -300px;
		width: 600px;
	}

	.form-1 .text-container {
		margin-left: 2.5rem;
	}

	.form-1 h2 {
		width: 82%;
	}

	/* end of contact */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}

	.footer .footer-col.second {
		margin-right: 4.5rem;
	}

	.footer .footer-col.third {
		text-align: right;
	}

	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

	/* end of extra pages */
}

/* end of min-width 1200px */


/* Login */
.modal-body .form-control {
	color: rgba(0, 0, 0, .87);
	border-bottom-color: rgba(0, 0, 0, .42);
	box-shadow: none !important;
	border: none;
	border-bottom: 1px solid;
	border-radius: 4px 4px 0 0;
}
.modal-body .form-label {
	font-weight: 800 !important;
}

#hideMe{
	-webkit-animation: cssAnimation 5s forwards;
	animation: cssAnimation 5s forwards;
}
.hideMeFast {
	-webkit-animation: cssAnimation 3s forwards;
	animation: cssAnimation 3s forwards;
}

@keyframes cssAnimation {
	0% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cssAnimation {
	0% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Auth Background Image*/
#authMain {
	background-image: url('/images/bg-imges/auth_bg2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
}



/******************************************Tic tac toe******************************************/
#enemy-screen,
#intro-screen {
	max-width: 420px;
	text-align: center; /* Centers h2 and buttons */
}

	#enemy-screen h2,
	#intro-screen h2 {
		padding: 0 15px; /* Prevent text from touching the edges of the screen */
	}

	#intro-screen button {
		font-size: 3.4em;
		padding: 4% 10%; /* With "%" padding is based on container's width */
		margin: 0 4%; /* Create distance between buttons */
	}

	#enemy-screen button {
		margin: 0.6em auto;
		font-size: 1.9em;
		padding: 0.6em 0.4em;
	}

/****** GAME GRID ******/


#boardtable {
	max-width: 420px;
	max-height: 420px;
	width: 85vw; /* 85% of the viewport (body) width */
	height: 85vw;
	border-spacing: 4px 2px; /* Space between cells */
}

	#boardtable td {
		padding: 1px;
		width: 33%; /* Every cell should be 1/3 of table height (and width) */
		height: 33%;
	}

.cell {
	font-size: 3.4em;
	font-size: 13vmin; /* Responsive font size! Awesome! */
	height: 100%; /* Fill the container (td) */
	width: 100%;
}

.wincell {
	background-color: #c88; /* Red background to highlight the "winning" line */
}

.player-two {
	color: #933;
}

/****** BUTTONS ******/


#modalBody button {
	cursor: pointer; /* Visually show that you can interact with the button */
	border: none; /* Hides default border (and color, for some reason */
	/* color: #333; */
}

#modalBody .choose, #restart, #GoBack1 {
	background-color: var(--theme_blue);
	color: white;
}

#restart,
#GoBack1 {
	font-size: 1.9em;
	padding: 13px 10px;
	/* Center horizontally */
	margin: 20px auto;
	display: block;
}

.choose,
#restart,
#GoBack1 {
	border-radius: 0.3em;
}

	.choose:active,
	#restart:active {
		background-color: #ccc; /* Darker color when the button is pressed */
	}

.btn-green {
	background-color: var(--theme_blue);
	color: white;
}

	.btn-green:active {
		/* Override the active background for #restart */
		background-color: var(--theme_blue) !important;
		color: white;
	}

/******  HELPER CLASSES  ******/

.center {
	margin: 0 auto;
}

.hidden {
	display: none;
}

.cannotuse {
	cursor: not-allowed;
}