@{
    ViewData["Title"] = "about";
}

<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-5">
                <div class="text-container">
                    <h2 class="h1-large">About Me</h2>
                    <p class="p-large text-justify">I  am Roshan Nyaupane, currently doing 4th year Bachelor’s Degree in BCIS at APEX College. I am planning to pursue a career as a Software Developer after graduation.</p>
                    <a class="btn-solid-lg" asp-action="Index">Return To Home</a>
                    <a class="btn-outline-lg" asp-action="">Hire Me</a>
                    <div class="container p-0 pt-4 m-0">
                        <div class="row height d-flex justify-content-center align-items-center">
                            <div class="col-md-12">
                                <div class="search rounded-pill">
                                    <!-- <i class="fa fa-search"></i> -->
                                    <input type="text" class="form-control rounded-pill" placeholder="Search Here...">
                                    <button class="btn  text-light p-0"><i class="fa fa-search text-dark"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="~/images/bg-imges/bg4.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Introduction -->
<div id="introduction" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <h2>Introduction</h2>
                <p>Hello! My name is Roshan Nyaupane,I am full stack dev and I am a dedicated, organized and methodical individual. I have good interpersonal skills, am an excellent team worker and am keen and very willing to learn and develop new skills. I am reliable and dependable and often seek new responsibilities within a wide range of employment areas.</p>
            </div>
            <div class="col-xl-9">
                <h2>Where I am From?</h2>
                <p>Originally from Kapilvastu district, Nepal. Currently, I am living in Kathmandu to pursue my studies. Being in Kathmandu, I have the privilege of accessing quality education and pursuing my passion for IT. I am currently enrolled in an IT course, where I am gaining knowledge and skills in various aspects of technology.</p>
            </div>
        </div>
    </div>
</div>



<!-- Details 1 -->
<div id="details" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="image-container">
                    <img class="img-fluid" src="~/images/bg-imges/bg5.png" alt="alternative">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="text-container">
                    <h2>My Hobbies</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">I enjoy painting landscapes and capturing the beauty of nature on canvas.</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Playing the guitar and creating melodies that soothe the soul.</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">I enjoy playing chess and strategizing to outsmart my opponents on the chessboard.</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">I enjoy reading books from various genres and immersing myself in different fictional worlds.</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">I love coding personal projects in my free time, exploring new technologies and experimenting with different programming languages.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Details 2 -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7 " style="margin-top:50px;">
                <div class="text-container">
                    <h2>Free Lesson</h2>
                    <p>
                        A drunk man loses the keys to his house and is looking for them under a lamppost. A policeman comes over and asks what he's doing.<br><br>
                        “I'm looking for my keys” he says. “I lost them over there”.<br><br>
                        The policeman looks puzzled. “Then why are you looking for them all the way over here?”
                        “Because the light here is so much better”. <br><br>
                        We all look for things where the light is better, rather than where we're more likely to find them.
                        Don't just set specific goals. Resolve to be receptive to the opportunities life presents to you.
                        Open your eyes. Say yes more often. <br><br>
                        Don't wear blinders on your only adventure.
                    </p>
                    <a class="btn-solid-reg" asp-action="">Explore More</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 d-none d-lg-block">
                <div class="image-container " style="margin-top:150px;">
                    <img class="img-fluid" src="~/images/bg-imges/bg6.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- newsletter -->
<section id="newsletter" class="py-5">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="title text-center pt-3 ">
                <h2 class="position-relative d-inline-block ms-4 mb-3">Why You Should Subscribe To Our Newsletter ! !</h2>
                <p> Subscribe to Our Newsletter for Exclusive Content and Exciting Opportunities</p>
            </div>
            <div class="input-group mb-3 mt-3 form-group">
                <input type="text" class="form-control border-dark  shadow-none py-3 ps-3" placeholder="Enter Your Email ...">
                <a class="btn-outline-lg" href="#">SUBSCRIBE</a>
            </div>
        </div>
    </div>
</section>
<!-- end of newsletter -->

