@{
    ViewData["Title"] = "blog";
}

<div id="projects" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Blog</h2>
                <p>Comming Soon.......</p>
            </div> 
        </div> 
        <div class="row">
            @*<div class="col-lg-12">
                <div class="card">
                    <img class="img-fluid" src="~/images/project-1.jpg" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">Office space for banking</h5>
                        <p class="card-text">Suffer should if waited common person little ans words are needed oh 
                            <a class="blue no-line" asp-action="">...Read more</a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="~/images/project-2.jpg" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">Planning and design for startup</h5>
                        <p class="card-text">In to am attended desirous raptures declared diverted confined at collected 
                            <a class="blue no-line" asp-action="">...Read more</a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="~/images/project-3.jpg" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">Colors and materials update</h5>
                        <p class="card-text">Instantly remaining up certainly to necessary as over walk dull into son 
                            <a class="blue no-line" asp-action="">...Read more</a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="~/images/project-4.jpg" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">Analysis and floor design</h5>
                        <p class="card-text">Vent new at or happiness commanded daughters as is handsome an 
                            <a class="blue no-line" asp-action="">...Read more</a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="~/images/project-5.jpg" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">Office spaces decoration</h5>
                        <p class="card-text">Vicinity subjects more words into miss on he over been late pain an only 
                            <a class="blue no-line" asp-action="">...Read more</a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="~/images/project-6.jpg" alt="alternative">
                    <div class="card-body">
                        <h5 class="card-title">Playground for kinder garden</h5>
                        <p class="card-text">Match round scale now sex style far times your me past and who now much 
                            <a class="blue no-line" asp-action="">...Read more</a>
                        </p>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
