@{
    ViewData["Title"] = "project";
}
<!-- Projects -->
<div id="projects" class="mt-5">
    <!-- <div class="container"> -->
    <section class="light">
        <div class="container py-2">
            <div class="h1 text-center mt-5 pt-5" id="pageHeaderTitle">Project I Develped</div>
            <article class="postcard lightCard">
                <a class="postcard__img_link" href="~/images/ecom-mern.png" target="_blank">
                    <img class="postcard__img" src="~/images/ecom-mern.png" alt="MERN Project Image" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title "><a href="#">Ecommerce (MERN Stack)</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2 "></i> May 25th 2020
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt ">This a a ecommerce platform to sell products online. Features included cart system, compare product, add to Wishlist, Checkout, filter, sorting etc.</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item1 play blue">
                            <a href="#"><i class="fas fa-play mr-2"></i> Play Video</a>
                        </li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i> 4 min.</li>
                        @* <li class="tag__item1 play blue">
                            <a href="#"><i class="fa-solid fa-eye mr-2"></i> View live</a>
                        </li> *@
                    </ul>
                </div>
            </article>
            <article class="postcard lightCard">
                <a class="postcard__img_link" href="~/images/onlineBookStore.png" target="_blank">
                    <img class="postcard__img" src="~/images/onlineBookStore.png" alt="Bookstore Project Image" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title "><a href="#">OnlineBook Store</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2 "></i> May 25th 2020
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt ">Designed and developed a user-friendly online book store using React. Leveraged React, JavaScript, and APIs for a dynamic, interactive, and visually appealing e-commerce platform.  </div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item1 play blue">
                            <a href="#"><i class="fas fa-play mr-2"></i> Play Video</a>
                        </li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i> 4 min.</li>
                        <!-- <li class="tag__item"><i class="fas fa-star-half-alt mr-2"></i> Rate The Project</li> -->
                    </ul>
                </div>
            </article>
            <article class="postcard lightCard">
                <a class="postcard__img_link" href="~/images/rentalZone_screenshot.png" target="_blank">
                    <img class="postcard__img" src="~/images/rentalZone_screenshot.png" alt="Rental Zone Image" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title "><a href="#">The Rental Zone</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2 "></i> May 25th 2020
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt ">The Rental Zone is an innovative and user-friendly web-based application that caters to the needs of individuals seeking rooms for rent. Designed with convenience in mind, this platform provides a seamless experience for users to find and post information about available rooms, facilitating a smooth and efficient process for both tenants and landlords.</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item1 play blue">
                            <a href="#"><i class="fas fa-play mr-2"></i> Play Video</a>
                        </li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i> 4 min.</li>
                        <!-- <li class="tag__item"><i class="fas fa-star-half-alt mr-2"></i> Rate The Project</li> -->
                    </ul>
                </div>
            </article>
            <article class="postcard light red lightCard">
                <a class="postcard__img_link" href="~/images/calculatorProject_screenshoot.png" target="_blank">
                    <img class="postcard__img" src="~/images/calculatorProject_screenshoot.png" alt="Calculator Image" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a href="#">Claculator in C#</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i> Nov 8th 2022
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        It is th simple desktop applicationfor performing arithmetic calculations. With support for fraction addition, subtraction, multiplication, division, and conversion, it simplifies mathematical operations. Its user-friendly interface, customization options. this desktop application streamlines arithmetic tasks efficiently.
                    </div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item1 play blue">
                            <a href="#"><i class="fas fa-play mr-2"></i> Play Video</a>
                        </li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i> 3 min.</li>
                        <!-- <li class="tag__item"><i class="fas fa-star-half-alt mr-2"></i> Rate The Project</li> -->
                    </ul>
                </div>
            </article>
            <article class="postcard light red lightCard">
                <a class="postcard__img_link" href="~/images/Project_screenshot.png" target="_blank">
                    <img class="postcard__img" src="~/images/Project_screenshot.png" alt="Todo Project Image " />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a href="#">To do React App</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 ">
                            <i class="fas fa-calendar-alt mr-2"></i> April 6th 2023
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        This project is a simple to-do list application built with React.js. It allows users to add, edit, and delete tasks. The application is stored in local storage, so it can be accessed even when the user is offline.
                        This to-do list application is a simple and easy-to-use tool that can help you keep track of your tasks. It is a great way to stay organized and on top of your work.
                    </div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item1 play blue">
                            <a href="#"><i class="fas fa-play mr-2"></i> Play Video</a>
                        </li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i> 5 min.</li>
                        <!-- <li class="tag__item"><i class="fas fa-star-half-alt mr-2"></i> Rate The Project</li> -->
                    </ul>
                </div>
            </article>
            <article class="postcard light red lightCard">
                <a class="postcard__img_link border" href="~/images/apexhub_screenshot.png" target="_blank">
                    <img class="postcard__img" src="~/images/apexhub_screenshot.png" alt="APEXHUB Prjoect Image" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a href="#">APEX-HUB(Group Project)</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>Pending
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        ApexHub is a dynamic platform that offers both e-commerce and a
                        comprehensive job portal experience. We provide a secure and
                        user-friendly environment for online shopping, where buyers and
                        sellers can connect and transact with ease. Additionally, our
                        unique ACS department ensures that job postings are verified,
                        and students have access to exclusive job opportunities. ApexHub
                        is where convenience meets career advancement, offering a
                        seamless blend of shopping and job hunting in one platform.
                    </div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item1 play blue">
                            <a href="#"><i class="fas fa-play mr-2"></i> Play Video</a>
                        </li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i> 2 min.</li>
                        <!-- <li class="tag__item"><i class="fas fa-star-half-alt mr-2"></i> Rate The Project</li> -->
                    </ul>
                </div>
            </article>
            <article class="postcard light red lightCard">
                <a class="postcard__img_link" href="~/images/student_crud_SS.png" target="_blank">
                    <img class="postcard__img" src="~/images/student_crud_SS.png" alt="STudentRegistration Image" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a href="#">Student Registration using C#</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 ">
                            <i class="fas fa-calendar-alt mr-2"></i> April 6th 2023
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        This C# project allows users to perform CRUD (Create, Read, Update, Delete) operations on a MySQL database. The project consists of a Windows Forms application with a few forms. The first form allows users to enter new data into the database. The second form displays all the data in the database in a table. The third form allows users to update or delete existing data in the database.

                        The project uses a real-time connection to the MySQL database, so the data in the table is always up-to-date. This makes the project a valuable tool for anyone who needs to manage data in a MySQL database.
                    </div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item1 play blue">
                            <a href="#"><i class="fas fa-play mr-2"></i> Play Video</a>
                        </li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i> 3 min.</li>
                        <!-- <li class="tag__item"><i class="fas fa-star-half-alt mr-2"></i> Rate The Project</li> -->
                    </ul>
                </div>
            </article>
        </div>
    </section>
</div>
   